/*Body of the page*/
body {
  background-image: url('abtBackground.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

/*Topic of the page*/
#abtMainTopic {
  font-size: 70px;
  color: teal;
  -webkit-text-stroke: 1px white;
} 

/*Text of the page*/
.abtText{
  color:rgb(62, 60, 60);
  font-size: xx-large;
}

/*Shape of the sub topic*/
#abtSubTopicCorner {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
}

/*Sub topic of the page*/
#abtSubTopic {
    font-size: 50px;
    color: teal;
    -webkit-text-stroke: 0.2px white; 
}

/*Names of the owners*/
.abtStuNames {
color: white;
text-shadow: 2px 2px grey;
}

/*Details of the owners*/
#abtStuDetails {
  border-style: solid;
  border-color: black;
  background-image: linear-gradient(teal, grey,black);
}

/*Project owner details box*/
.abtStuBoxes {
  padding: .2rem .6rem .3rem;
  font-size: 100%;
  color: white;
}

.abtStuBoxes:hover {
  font-size: 120%;
  color: rgb(126, 255, 214); 
}
